@font-face {
    font-family:'DroidKufi-Regular';
    src: url(../fonts/DroidKufi-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-header);
}

/*#region Variable */

:root{
    --main-color:#ED7D31;
    --secondary-color:#4F4A45;
    --font-header-color:#4F4A45;
    --font-color:#898989;
    --font-header:DroidKufi-Regular;
}

/*#endregion Variable */

/*#region Header*/



/*#endregion  Header*/

/*#region Main*/



/*#endregion  Main*/

/*#region Footer*/



/*#endregion  Footer*/
