@font-face {
    font-family:'DroidKufi-Bold';
    src: url(../fonts/DroidNaskh-Bold.ttf);
}

@font-face {
    font-family:'DroidKufi-Regular';
    src: url(../fonts/DroidKufi-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-header);
}

/* 
ألوان متناسقة
164863
427D9D
9BBEC8
DDF2FD
*/

/*#region Variable */

:root{
    --primary-color:#9BBEC8 ;
    --secondary-color:#164863;
    --white-color:#FFF;
    --light-white:#ffffffc4;
    --font-header-color:#4F4A45;
    --font-text-color:#898989;
    --font-header:'DroidKufi-Regular';
    --font-text:'DroidKufi-Bold';
    --font-header-size:1.5rem;
    --font-text-size:0.9rem;
    --header-gradient-color: linear-gradient(to bottom, #164863 60%, #000);
    --footer-gradient-color: linear-gradient(to bottom, #164863 35%, #000);
}

html{
    direction: rtl;
}

/*#endregion Variable */

/*#region Header*/

header nav{
    background: var(--header-gradient-color)
}

header nav .logo{
    color: var(--primary-color);
}

header nav ul li{
    padding: 1rem;
    cursor: pointer;
}

header nav ul li.active{
    border-bottom: 0.2rem solid var(--primary-color);
}

header nav ul li:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--font-header-color);
    transition: all 1s ease;
}

header nav ul li:hover a{
    color: var(--secondary-color);
}

header nav ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--font-header);
    font-size: 1.1rem;
}

header nav .nav-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--white-color);
}

header nav .navigation .bars-icon{
    font-size: 2.3rem;
}

header nav .navigation .searsh{
    margin-right: 22rem;
}

header nav .navigation .searsh .searsh-icon{
    color: var(--font-text-color);
    right: 1rem;
}

header nav .navigation .searsh input{
    width: 18rem;
    height: 3.4rem;
    padding: 0 3rem;
    border: 0.2rem solid var(--font-header-color);
    border-radius: 1rem;
    transition: all 1s ease;
}

header nav .navigation .searsh input:hover{
    border: none;
    width: 29rem;
    outline: 0.2rem solid var(--primary-color);
}

header nav .notification .notification-icon::after,
header nav .messages .message-icon::after{
    content: "99+";
    position: absolute;
    top: -1.2rem;
    left: 0.99rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    width: 1.8rem;
    border-radius: 50%;
    color: var(--white-color);
    background-color: red;
}   

header nav hr{
    margin: 0 auto;
    color: white;
    opacity: 1;
    width: 80%;
}


/*#endregion  Header*/

/*#region Main*/



/*#endregion  Main*/

/*#region Footer*/

footer{
    background: var(--footer-gradient-color);
    bottom: 0;
}

footer ul li{
    cursor: pointer;
    padding: 0.3rem;
}

footer ul li a{
    text-decoration: none;
    color: var(--light-white);
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

footer ul li:hover a{
    color: var(--white-color);
}

footer h4,footer h3{
    color: var(--primary-color);
}

footer form input,
footer form textarea{
    background-color: transparent;
    border: 0.18rem solid var(--white-color);
    color: white;
}

footer form input:focus,
footer form textarea:focus{
    outline: none;
}

footer form button{
    border: 0;
    background-color: var(--primary-color);
    opacity: 0.9;
    color: var(--white-color);
    transition: all 0.5s ease;
}

footer form button:hover{
    opacity: 1;
    color: var(--secondary-color);
}

footer .footer-divider{
    opacity: 1;
    color: var(--white-color);
    width: 75%;
    margin: 0 auto;
}

footer .footer-end .footer-icon{
    font-size: 2rem;
}

footer .footer-end h6{
    color: var(--white-color);
}

footer .footer-end .mkz-company a{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

/*#endregion  Footer*/
