* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  @font-face {
    font-family: myFont;
    src: url(../fonts/DroidKufi-Regular.ttf);
  }
  body {
    background-color: #eee;
    font-family: myFont;
  }
  :root{
    --background-color:#2386c8;
    --main-color:white;
    --padding-top:60px;
    --padding-botton:60px;
  }
  nav{
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
    z-index: 2;

  }
  .my-container{
    margin: 0px 20px;
  }
  nav header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
  }
  header div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav header ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }
  nav header i.toggle-menu {
    font-size: 20px;
  }
  header ul li:hover{
    background-color:#23b5c8 ;
  }
  nav ul.links li {
    padding: 20px;
    height: 100%;
    cursor: pointer;
    transition: all 0.6s ease;
 }
  nav header h1{
    margin: 0 20px;
  }
  nav ul.login li {
    margin-right: 20px;  
    padding: 20px;
 }
 nav ul.login li:nth-child(2), ul.login li:nth-child(3) {
  border: 1px solid rgba(255, 255, 255, 0.514); 
  padding: 5px 10px; 
}

@media (max-width: 768px) {
  nav ul.links li {
    display: none;
 }
}

/* medium*/

@media (min-width: 992px) {

}

/* large*/

@media (min-width: 1200px) {

}

/* end header style */
main{
  height: 100vh;
  background-image: url(../img/1699127388927.jpg);
  object-fit: contain;
  background-size: cover;
}
main.main-section .hero{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  gap: 20px;
}
.hero h2{
  color: rgba(255, 255, 255, 0.8);
}

main.main-section .start{
  height: 80px;
  padding: 10px;
  background-color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;

}
main.main-section .start input{
  border: none;
  padding-right: 10px;
  background-color: transparent;

}

main.main-section .start input:focus{
  outline: none;
}

main.main-section .start input::placeholder{
  border: none;
  float: right;
}
main.main-section .start button{
  border: none;
  background-color: var(--background-color);
  padding: 10px;
  color: var(--main-color);
  transition: all 0.3s ease;
}

main.main-section #btnSearch{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: fit-content;
  padding: 10px;
  margin: auto;
  transition: all 0.5s ease;

}
main.main-section #btnSearch:hover{
background-color: var(--background-color);
}


/* start publisher section */
section{
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-botton);
  background-color: white;
}
section h1,h2{
  text-align: center;
  color: var(--background-color);
}
.publisher h2{
  text-align: center;
  color: var(--background-color);
}
.publisher img{
 width: 100%;
}
.publisher dl dt{
  margin-bottom: 25px;
  font-size: 18px;
  opacity: 0.8;
 }
 .publisher dl dt i{
  color:white;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;

  display: inline-block;
 }
 .publisher dl  dd{
  margin-right: 20px;
 }

 /* mostegl how to hlep you */
 .How-to-Help  .row div{
  font-size: 14px;
  height: 300px;
 }
 .How-to-Help-2  .row div{
  height: 200px;
 }
